<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Livraria Online</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Início</a></li>
          <li><a href="{{ url_for('sobre') }}">Sobre Nós</a></li>
          <li><a href="{{ url_for('contato') }}">Contato</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="container">{% block content %} {% endblock %}</div>
    </main>
    <footer>
      <p>&copy; 2024 Livraria Online. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
